
/**************** PAGE HTML ***************/ 
body{
    margin : 0;
    padding : 0;
    background-image: url('images/background.png');
    background-repeat: no-repeat;
    font-family: 'Sarabun', sans-serif;
}
footer{
    background:#E8EDEE;
    bottom:0;
    width:100%;
    margin-top:50px;  
    height:99px;
    display: flex;
    text-align: center;
    justify-content: center;
    flex-direction: column;
}

a{
    text-decoration : none;
}

/**************** BLOC ***************/ 
#bloc_principal{
    display: flex;
    width: 100%;
    justify-content: space-between;
}
#bloc_left{
    width : 45%;
    height : 550px;
    justify-content: center;
    align-items: center;
}
#bloc_right{
    width : 45%;
    height : 550px;
}
.indentification{
    width: 430px;
    height: 521px;
    background: #FFFFFF;
    border: 2px solid rgba(57, 88, 98, 0.45);
    box-sizing: border-box;
    box-shadow: 13px 15px 53px rgba(0, 0, 0, 0.25);
    border-radius: 52px;
    margin-left: 100px;
    flex-direction: column;
    text-align: center;
}
.rectangle_logo{
    width: 330px;
    height: 368px;
    margin-top: 69px;
    margin-left: 80px;
    background: #FFFFFF;
    box-shadow: 11px 10px 14px rgb(0 0 0 / 25%);
    border-radius: 15px;
    flex-direction: column;
    text-align: center;
    font-size: 25px;
}

/**************** ESPACES ***************/ 
#espace_left{
    width : 45%;
    height: 90px;
    justify-content: center;
    align-items: center;
}
#espace_right{
    width : 45%;
    height: 90px;
}
#space{
    height: 60px;
}
#space2{
    height: 30px;
    margin: 8px
}

/**************** PERSONNALISATION ***************/
.champ{
    width: 350px;
    height: 43px;
    border-radius: 20px;
    border: 2px solid #5983A4;
}
.titre{
    font-size: 30px;
    color : #5983A4;
}

.text_bleu{
    color : #5983A4;
}
.text_footer{
    margin: 0;
}

.button_connect{
    margin: 40px 40px 40px 40px;
    padding: 9px 20px 9px 20px;
    font-size: 17px;
    border-radius: 20px;
    border: 2px solid #5983A4;
    color: white;
    background-color: #5983A4;
}
