body{
    width: 100%;
    height: auto;
}
#centre{
    display: flex;
    width: 1400px;
    justify-content: space-around;
    height: 760px;
    background-color: aqua;
    margin : 0px;
    align-items: center;
    flex-direction: row;
}
.cartes_praticiens{
    position: flex;
    width: 253px;
    height: 318px;
    left: 1121px;
    top: 367px;
    background-color: red;
    flex-direction: column;
}
#bloc_boutons{
    display: flex;
    width: 253px;
    height: 65px;
    justify-content: space-around;
    background-color: rosybrown;
    
}
.boutons{
    width: 126.5px;
    height: 100%;
    background-color: royalblue;
    border: solid 1px #9B9B9B;
    justify-content: center;
    display: flex;
    align-items: center;
}

.image{
    width: 25px;
}

#cercle{
    background-color: white;
    position: absolute;
    border-radius: 50%;
    border: solid 1px #9B9B9B;
    width: 50px;
    height: 50px;
    margin-top: 40px;
}

#avatar{
    width: 50px;
    height: 50px;
}

#nom_docteur{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 50px;
    font-size: 20px;
}